.profile-info{
    display: grid;
    grid-template-columns: 2fr 5fr;
    border-bottom: 1px solid rgba(23, 23, 23, 0.11);
}

.avatar {
    width: 180px;

}
.user-name {
    font-size: 30px;
}
.user-info {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-auto-rows: max-content;
    font-size: 19px;
    padding-top: 30px;
}

.info-field {
    color: #5e5b63;
    font-size: 15px;
}

.status {
    width: 350px;
    border: none;
    background-color: rgba(213, 213, 213, 0);
}