.header{
    opacity: 0.95;
    position: fixed;
    width: 100%;
    background-color: #8dbd49;
    height: 45px;
}
.header-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 10px;
    margin: 0 auto;
    width: 850px;
    grid-gap: 740px;
}

.loginBlock{
    float: right;
}